
<style>

</style>
<!-- Main content -->


<section class="content">




    <div class="container-fluid" i>

        <div class="row" id="loading" style="display: none">
            <img src="{{CONFIG.BASE_URL}}/dist/img/loading2.gif" />
        </div>
        <div class="row" id="buttonCont">
            <div class="col-lg-3 col-6">
                <!-- small card -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>150</h3>

                        <p>New Orders</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <a href="#" class="small-box-footer" id="submitBtn">
                       Process <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->

            <!-- ./col -->
        </div>



    </div>

</section>

<script>

    $('#submitBtn').on('click', function(e){
        $('#buttonCont').hide();
        $('#loading').show();
        //window.open('ocr/process')
        window.location.replace('ocr/process')
    });

</script>
